.modalContainer {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: modaloneopen;
    animation-duration: 0.5s;
}

.modal {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 8px;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modalTitle {
    margin-left: 8px;
    font-size: 22px;
    color: teal;
}

.modalContent {
    margin: 8px;
}

@keyframes modaloneopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}