.main {
    max-height: 85%;
}

.imageContainer {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.buttonRow {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
}

.deleteButton {
    display: flex;
    align-items: center;
    border: 1px solid pink;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    margin-right: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    color: red;
}

.deleteButton:hover {
    display: flex;
    align-items: center;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    margin-right: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    color: red;
}

.standardButton {
    display: flex;
    align-items: center;
    border: 1px solid rgba(132, 230, 230, 0.8);
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    margin-right: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    color: teal;
}

.standardButton:hover {
    display: flex;
    align-items: center;
    border: 1px solid teal;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    margin-right: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    color: teal;
}